@charset "utf-8";
 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	margin: 0;
	padding: 0;
}

/*CSS Clearfix*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*

	Color Palette for Reference:

	BlacK : #000000;
	Green : #7cc576;
	Blue : #6dcff6;
	White : #ffffff;

*/

/*Screen formatting here*/



.container {
	max-width: 960px;
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {
	
	
	header, main, footer {

		max-width: 1280px;
		margin: 0 auto;

	}
}

/*Header formatting starts here*/

header {
	background: #7cc576;
}

.text {
	font-family: sans-serif;
}

.logo {
	float: left;
	width: 120px;
	padding: 15px;
	padding-left: 20px;
	box-sizing: border-box;
}


.head-title {
	float: left;
	width: calc(100% - 120px);
	box-sizing: border-box;
	padding: 20px;
	padding-top: 60px; 
	padding-left: 120px;
}

a {
	display: inline-block;
	padding:5px;
	text-decoration: none;
	color: #000000;
}

.desktop-nav {
	display: block;
}

.main-nav-container {
	max-width: 960px;
	width: 100%;
	padding-top: 180px;
}

#home-li, #about-li, #contact-li, #work-li {
	width:165px;
	text-align: center;
	box-sizing: border-box;
	padding: 15px; 
	padding-right: 35px;
	padding-left: 35px;
	margin: 30px;
	margin-top: -35px;
	margin-bottom: 20px;
	border-radius: 5px;
	float: left;
	background:#6dcff6;
	font-size: 115%;
}


/*Body formatting starts here*/
body {
	background-image: url(../img/subtle-lilypads.png);
}

#main-head {
	padding: 10px;
	margin-left: -10px;
	text-align: left;
	
}

.main-sec {
	float:left;
	width: 65%;
	padding: 25px;
	margin-top:-15px;
	box-sizing: border-box;
}

#main-aside {
	margin-top: 50px;
}

.main-aside-container {
	float:left;
	width: 35%;
	padding: 20px;
	padding-top: 3px;
	box-sizing: border-box;
}


.aside-head {
	padding: 10px;
	margin-left: -10px;
	text-align: left;
}

#aside-head {
	padding: 10px;
	text-align: left;
}

#pic-head {
	padding-left: 25px;
}

.pic-slide-container, .pic-slide {
	max-width: 960px;
	width: 33%; 
	padding: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
}

/*Footer formatting starts here*/
footer {
	background: #7cc576
} 


.cr-sec {
	width: 40%;
	box-sizing: border-box;
	margin: 0 5%;
	padding: 50px;
	float: left;
}

.footer-li {
	width: 20%;
	box-sizing: border-box;
	margin: 0 5%;
	padding: 5px;
	padding-top: 10px;
	float: right;
}