@charset "utf-8";
 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	margin: 0;
	padding: 0;
}

/*CSS Clearfix*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*

	Color Palette for Reference:

	BlacK : #000000;
	Green : #7cc576;
	Blue : #6dcff6;
	White : #ffffff;

*/

/*Screen formatting here*/



.container {
	max-width: 960px;
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {
	
	
	header, main, footer {

		max-width: 1280px;
		margin: 0 auto;

	}

/*Header formatting starts here*/

header {
	background: #7cc576
}


.logo {
	float: left;
	width: 120px;
	padding: 30px;
	box-sizing: border-box;
}

.head {

	font-family: sans-serif;
}

.head-title {
	float: left;
	width: calc(100% - 120px);
	box-sizing: border-box;
	padding: 20px;
	padding-top: 50px; 
	padding-left: 70px;
	font-size: 200%;
}

a {
	display: block;
	padding:5px;
	text-decoration: none;
	color: #000000;
}

.desktop-nav ul{
	width: 100%;
}

.desktop-nav li {
	box-sizing: border-box;
	width:17%;
	margin: 20px;
	float: left;
}


.main-nav-container {
	padding-top: 100px;
	text-align: center;
	font-family: sans-serif;

}

#home-li {
	box-sizing: border-box;
	width: 120px;
	padding: 12px;
	float: left;
	background:#6dcff6;
}

#about-li {
	box-sizing: border-box;
	width: 120px;
	padding: 12px;
	float: left;
	background:#6dcff6;
}

#contact-li {
	box-sizing: border-box;
	width: 120px;
	padding: 12px;
	float: left;
	background:#6dcff6;

}

#work-li {
	box-sizing: border-box;
	width: 120px;
	padding: 12px;
	float: left;
	background:#6dcff6;
}


/*Body formatting starts here*/
body {
	background-image: url(../img/subtle-lilypads.png);
}

h2 {
	font-size: 150%;
	padding: 10px;
	margin-left: -10px;
	
}

h3 {
	font-size: 125%;
	padding: 10px;
	margin-left: -10px;
}

.para {
	font-family: sans-serif;
	}

.main-sec {
	float:left;
	width: 65%;
	padding: 25px;
	box-sizing: border-box;
}

.main-aside-con {
	float:left;
	width: 35%;
	padding: 25px;
	box-sizing: border-box;
}

.pic-slide {
	width: 33%;
	padding: 5px;
	box-sizing: border-box;
	float: left;
}

.figcap {
	font-family: sans-serif;
	text-align: center;
}


/*Footer formatting starts here*/
footer {
	background: #7cc576
} 


