@charset "utf-8";

 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*
	Colour Palette

	Black : #000000;
	Teal : #72a9ae;
	Grey : #454545;
	White : #ffffff;

*/

/*Screen Formatting Here*/

/*==================================================
=           Standard Media Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    	header, main, footer {

    		max-width: 1280px;
    		margin: 0 auto;
    	}

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

.container {
	max-width: 1024px;
	margin: 0 auto;
}


/************************
		MOBILE FIRST
************************/

/*Major containers set to 100% width to achieve Fluid Layout */
.col-main-article, .col-footer, .mobile-img{
	width:100%;
}

.logo {
	float: left; 
	width: 120px;
	padding: 15px;
	box-sizing: border-box;
	font-family: 'peacesans_regular_macroman';
	color: #72a9ae;
	font-size: 225%
}

.desktop-nav {
	float: right;
	width: calc(100% - 100px);
	display: none;
	max-width: 600px;
}

.desktop-nav ul {
	width: 100%
}

.desktop-nav li {
	box-sizing: border-box;
	width: 10%
	float: left;
	position: relative;
}

.desktop-nav li:first-child {
	border-radius: 10px 0 0 10px;
}

.desktop-nav li:last-child {
	border: 0 10px 10px 0;
}

.main-nav a {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	border-left: 2px solid #444;
}
.desktop-nav li {
	width: 100%;
}

.desktop-nav li a {
	background: ##72a9ae;
	border-left: none;
	border-bottom: 2px solid #444;
}

.mob-bars {
	float: right;
}

.mob-bars {
	height: 15px;
	margin: 15px;
	padding-top: 5px;
	position: relative;
	float: right;
	cursor: pointer;
}

	.mob-bars, .mob-bars:before, .mob-bars:after {
		width: 30px;

	}

	.mob-bars:before {
		content: "";
		display: block;
		position: absolute;
		background: black;
	}

	.mob-bars:after {
		content: "";
		display: block;
		background: black;
		position: absolute;
		display: none;
	}

.mobile-nav {
	width: 100%;
	clear: both;
	position: absolute;
	display: none;
}

.mobile-nav-container {
	position: relative;
	clear: both;
}

.mobile-nav li {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	background: #72a9ae;
	border-bottom: 2px solid #121212;
}


/*Main Content Styles Begin Here*/

/*Font Styling*/

.text {

font-family: 'Noto Sans', sans-serif;

}

a {
	display: inline-block;
	text-decoration: none;
	padding: 5px;
}

h2 {
	font-weight: bold;
	color: #72a9ae;
	font-size: 125%;
}

thead {
	font-weight: bold;
	color: #72a9ae;
}

.foot-text {
	color: #ffffff;
}

h4 {
	color: #ffffff;
}


#footer-nav a {
	color: #ffffff;

}


/*Header Styles*/

header {
	background: #72a9ae;
	margin-top: -50px;
}



/*Body Styles*/

body {
	background: #ffffff;
}

.site-content {
	background: url(../img/foggybirds.png);
	padding: 15px; 
	width: 100%;
	box-sizing: border-box;

}


/*About and Image Aside*/

.main-section {
	float: left;
	width: 70%;
	padding: 25px;
	box-sizing: border-box;
}

#img-aside: {
	float: left;
	width: 30%;
	padding: 20px;
	box-sizing: border-box;
}

.schedule-section {
	width: 100%; 
}

.sched-table {
	float: center;
}


/*Schedule Table*/

.schedule-section {
	float: left;
	padding: 10px;
}

table { 

width: 100%;
padding-left:-10px;
padding-right: -10px;
text-align: center;
box-sizing: border-box;
 }

table, th, td {
	border: 1px solid black;
	padding: 10px;
}

/*Profile Information Styles*/

.profile-form {
	float: left;
	box-sizing: border-box;
	padding: 10px;
	width: 50%;

}


.profile-transf {
	float: left;
	box-sizing: border-box;
	padding: 20px;
	width: 50%;

}

/*Footer Styles*/

footer {
	background: #454545;
}

