@charset "utf-8";
@import url('fonts.css');


 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*
	Colour Palette

	Black : #000000;
	Teal : #72a9ae;
	Light Grey: #efefef;
	Dark Grey : #454545;
	White : #ffffff;
	Purple: #728bae;

*/

/*Screen Formatting Here*/


.container {
	max-width: 1024px;
	margin: 0 auto;
}



/*Font Styling*/

.text {

font-family: 'Noto Sans', sans-serif;

}

a {
	display: inline-block;
	text-decoration: none;
	padding: 5px;
}

h2 {
	font-weight: bold;
	color: #72a9ae;
	font-size: 125%;
}

thead {
	font-weight: bold;
	color: #72a9ae;
}

.foot-text {
	color: #ffffff;
}

h4 {
	color: #ffffff;
}


#footer-nav a {
	color: #ffffff;

}


/************************
		MOBILE FIRST
************************/

/*Major containers set to 100% width to achieve Fluid Layout*/
.col-main-article, .col-footer, .mobile-img {
	width:100%;
}

.logo {
	float: left; 
	width: 500px;
	padding: 25px;
	box-sizing: border-box;
	font-family: 'peace_sansregular', sans-serif;
	color: #72a9ae;
	font-size: 225%
}

.desktop-nav {
	float: left;
	width: 100%;
	display: none;

}

.desktop-nav ul {
	width: 100%
}

.desktop-nav li {
	max-width: 20%
	float: left;
	padding: 10px;
	box-sizing: border-box;
	position: relative;
}

.desktop-nav li:first-child a {
	border-left: 0;
}

.desktop-nav li:last-child {
	border: 0;
}

.main-nav-container {
	background: #72a9ae;
}

.main-nav-container a {
	display: block;
	box-sizing: border-box;
	width: 20%;
	padding: 10px;
	color: #000000;
}


/*Mobile Menu Bar Icon*/
.mob-bars {
	float: right;

}

.mob-bars {
	display: block;
	height: 15px;
	margin: 15px;
	padding-top: 5px;
	position: relative;
	float: right;
	cursor: pointer;
}

	.mob-bars, .mob-bars:before, .mob-bars:after {
		width: 30px;
		border-top: 5px solid teal;

	}

	.mob-bars:before {
		content: "";
		display: block;
		position: absolute;
		background: teal;
	}

	.mob-bars:after {
		content: "";
		display: block;
		background: #72a9ae;
		position: absolute;
		bottom: 0;
	}

.mobile-nav {
	width: 100%;
	clear: both;
	position: absolute;
	display: none;
}

.mobile-nav-container {
	position: relative;
	clear: both;
}

.mobile-nav li a{
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	background: #72a9ae;
	border-bottom: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
	color: #000000;
}


/************************
	MAIN CONTENT STYLES
************************/


/*Body Styles*/


body {
	background: #ffffff;
	font-family: 'Noto Sans', sans-serif;
}

.main {
	background: url(../img/foggybirds.png);
}

.site-content {
	padding: 15px; 
	width: 100%;
	box-sizing: border-box;

}



/*About and Image Aside*/

.main-section {
	float: left;
	width: 70%;
	padding: 25px;
	box-sizing: border-box;
}

#img-aside: {
	float: left;
	width: 30%;
	padding: 20px;
	box-sizing: border-box;
}

.schedule-section {
	width: 100%; 
}

.sched-table {
	float: center;
}



/*Schedule Table*/

.schedule-section {
	float: left;
	padding: 10px;
}

table { 

width: 100%;
padding-left:-10px;
padding-right: -10px;
text-align: center;
box-sizing: border-box;
 }

table, th, td {
	border: 1px solid black;
	padding: 10px;
}

.wht-row {
	background-color: #ffffff;
}

.lg-row {
	background-color: #efefef;
}



/*Profile Information Styles*/

.profile-form {
	float: left;
	box-sizing: border-box;
	padding: 10px;
	width: 50%;

}

.form-info {
	max-width: 500px;
	clear: both;
}

.form-info input {
	width: 100%;
	clear: both;
}

.profile-transf {
	float: left;
	box-sizing: border-box;
	padding: 20px;
	width: 50%;

}




/*Footer Styles*/

footer {
	background: #454545;
	width: 100%;
}

.col-footer {
	width: 31%;
	box-sizing: border-box;
	margin: 0 1%;
	padding: 10px;
	float: left;
	position: relative;
}



/*Loader animation*/
.overlay-container {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,1);
	z-index: 2;
}

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #3498db;

	animation:
		spin 2s linear infinite,
		change-color 4s ease-in-out infinite,
		border-radius-change 1s ease infinite;

}

@keyframes spin {
	from{
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg)
	}
}

@keyframes change-color {

	0% {
		border-top-color: #72a9ae;
	}

	50% {

		border-top-color: #728bae;
	}

	100% {

		border-top-color: #72a9ae;
	}
}

@keyframes border-radius-change {

	0% {

		border-radius: 50%;
	}

	50% {

		border-radius: 0%;

	}

	100% {

		border-radius: 50%
	}
}

/*==================================================
=           Standard Media Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/


    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    	header, main, footer {

    		max-width: 1280px;
    		margin: 0 auto;
    	}

    	.mob-bars {
    		display:none;
    	}

    	.desktop-nav {
    		display: block;
    	}

    }

